/* Global Colors */
:root {
  --night-blue: #140453;
  --purple: #705aca;
  --br: 10px; /* border radius */
}

/* Global CSS and Bootstrap overrides*/

/* always keep scrollbar, this is to prevent screen for jogging when the scrollbar disappears from too little data on the Heros table. */
html {
  overflow-y: scroll;
}

.form-control:focus,
.form-select:focus,
.btn:focus,
.btn:active {
  box-shadow: none !important;
}

/* Global Classes */
.rounded-4 {
  border-radius: var(--br);
}

.bg-nb {
  background-color: var(--night-blue);
}

/*************************
    Dashboard Page 
*************************/

/* Filter */
.filter-button svg path {
  transform: rotate(180deg);
  transform-origin: 50%;
  transition: all 0.5s;
}

.filter-button svg.collapsed path {
  transform: rotate(0deg);
  transform-origin: 50%;
}

.heros-filter-form {
  transition: all 0.5s;
  overflow: hidden;
}

.heros-filter-form.collapsed {
  height: 0px !important;
}

/* Table */

.hero-name-table-header svg {
  cursor: pointer;
}

.table thead th {
  background-color: var(--purple);
  border: none;
}

.table thead th:first-child {
  border-radius: var(--br) 0 0 var(--br);
}

.table thead th:last-child {
  border-radius: 0 var(--br) var(--br) 0;
}

.table td {
  vertical-align: middle;
}

.table {
  border-color: var(--bs-light);
}

.table tr {
  border-color: #e3e3e3;
}

.table > :not(caption) > * > * {
  padding: 1.4rem 1.4rem;
}

.table > :not(:first-child) {
  border: none;
}

/* Active Tabs */
.active-filters {
  overflow: hidden;
}

.active-filters .badge {
  white-space: nowrap;
}
