/* Global Colors */
:root {
  --night-blue: #140453;
  --light-green: #efe;
  --br: 10px; /* border radius */
}

/* Global CSS and Bootstrap overrides*/
.form-control:focus,
.form-select:focus {
  box-shadow: none;
}

/* Global Classes */
.rounded-4 {
  border-radius: var(--br);
}

.bg-nb {
  background-color: var(--night-blue);
}

/* Home Page */
.home-page {
  background-color: var(--night-blue);
}

.welcome-message {
  max-width: 400px;
}

/*************************
    Dashboard Page 
*************************/

/* Filter */
.heros-filter-form {
  transition: all 0.5s;
  overflow: hidden;
}

.heros-filter-form.collapsed {
  height: 0px !important;
}

/* Table */
.table thead th {
  background-color: var(--light-green);
  border: none;
}

.table thead th:first-child {
  border-radius: var(--br) 0 0 var(--br);
}

.table thead th:last-child {
  border-radius: 0 var(--br) var(--br) 0;
}

.table td {
  vertical-align: middle;
}

.table {
  border-color: var(--bs-light);
}

.table tr {
  border-color: #e3e3e3;
}

.table > :not(caption) > * > * {
  padding: 1.4rem 1.4rem;
}

.table > :not(:first-child) {
  border: none;
}
